<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">


  </head>


  <body>

<div class="container">

  {{ content }}

</div>
    <!-- <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/blog">Blog</a></li>
      </ul>
    </nav> -->
  <footer>
   <!-- <ul>
   <li><a href="mailto:emanoel-faria@gmail.com">E-mail me!</a></li>
   <li><a href="https://github.com/emanoelfaria">github.com/emanoelfaria</a></li>
   </ul> -->
  </footer>

  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  </body>

</html>
